html, body, #root {
  /*height: 100vh;*/
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2ebe3;
}

body{
    padding: 5%;
    overflow: scroll;
}